:root {
  --ion-font-family: Inter, Roboto, Arial, sans-serif;
  --ion-color-primary: #e53935;
  --ion-color-primary-rgb: 229, 57, 53;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #ca322f;
  --ion-color-primary-tint: #e84d49;
  --ion-background-color: #090909;
  --ion-text-color: #f5f5f5;
}

